.DS_Store
*.swp

pp/target
pp/project/target
pp/project/project

pp/pp.iml
pp/.idea
pp/.ijwb

pp/.ensime*

pp/.metals
pp/**/.bloop
pp/**/metals.sbt

pp/.vscode

cc/src/ast.rs
cc/src/ir.rs

cc/target
cc/.idea

opt/.vs
opt/.ionide
opt/.fake

opt/opt/bin
opt/opt/obj
opt/opt-proto/bin
opt/opt-proto/obj
opt/opt-proto/*.cs
opt/opt-test/bin
opt/opt-test/obj

as/.stack-work/
as/as-exe

**/*.rs.bk
stale_outputs_checked
