.DS_Store
*.swp

pp/src/main/java/c4/ast
pp/src/main/resources/ast.proto

pp/target
pp/project/target
pp/project/project

pp/pp.iml
pp/.idea
pp/.ijwb

pp/.ensime*

pp/.metals
pp/**/.bloop
pp/**/metals.sbt

pp/.vscode

cc/ast.proto
cc/ir.proto
cc/src/ast.rs
cc/src/ir.rs

cc/target
cc/.idea

**/*.rs.bk
stale_outputs_checked
